<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="penzle-public" value="https://pkgs.dev.azure.com/penzle/75bdecc1-b4c2-4774-9a86-a0d1809aa927/_packaging/penzle-public/nuget/v3/index.json" />
  </packageSources>
</configuration>
